@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family:'Roboto', sans-serif;
}

.body {
  margin: 100px 0 25px;
}

.no-data {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  color: #4C4D4F;
  font-size: 24px;
  font-weight: bold;
}